@use "reset";

// Variables

$lumoColor: rgb(109, 109, 252);
$sombra: 10px 5px 10px rgba(0, 0, 0, 0.5);
$color-primario: #4CAF50;
$color-fondo: #f2f2f2;
$color-texto: #333;

//Estilos 



.header {
    height: 230px;
    background-color: $lumoColor;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    text-shadow: 5px 5px 20px black;
    transition: all 300ms;
   ul li{
        list-style: none;
        display: inline-block;
        margin: 10px;
        font-size: larger;
        transition: all 300ms ;
        &:hover{
            transform: scale(1.15);
        }
        
    }
}

.hero {
    width: 100%;
    height:800px;
    background-image: linear-gradient(
        0deg,
        rgba(109, 109, 252,0.3),
        rgba(0,0,0,0.5) ), 
        url(/imagenes/horizontalHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 5px 5px 25px black;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    h1 {
        text-align: center;
        padding: 50px 50px;
        margin-bottom: 20px;
        text-shadow: black;
    }
    button{
        background-color: $lumoColor;
        padding: 20px;
        border: none;
        border-radius: 15px;
        box-shadow: $sombra;
        transition: all 400ms;
        &:hover{
            transform: scale(1.15);
        }
    
        a {
            font-size: 1.5em;
        }
        
    }
}

// 
.nosotros {
    text-shadow: 5px 5px 20px black;
    margin: 60px 0px;
    background-color: $lumoColor;
    box-shadow: $sombra;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.3) ), 
        url(/imagenes/horizontalHero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .contenido {
        color: #f1f1f1;
        text-align: center;
        padding: 50px;
        h1{
            font-size: 2em;
            padding: 50px;

        }
        p {
            padding: 60px 10px;
            max-width: 700px;
            background-color: rgba($color: $lumoColor, $alpha: 0.7);
            border-radius: 15px;
        }
        h4 {
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
            font-weight: 100;
            font-size: 0.9em;
            padding: 30px;
        }   
    }
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 10px;
    grid-gap: 10px;

    .item:nth-child(4){
        grid-column-start: span 2;
    }

    .item:nth-child(8){
        grid-row-start: span 2;
    }

    .item:nth-child(11){
        grid-column-start: span 2;
    }

    .foto{
        width: 100%;
        height: 100%;
        box-shadow: $sombra;
        transition: all 300ms;
        object-fit: cover;
        &:hover{
            transform: scale(1.4);           
        }

    }
}

.bloques {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.9) ), 
        url(/imagenes/horizontal2.jpg);
            background-position: center;
            background-size: cover;
            color: #f1f1f1;
}

.tarjetas {
        text-align: center;
        padding: 130px;

        ul {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        h4{
            width: 180px;
            padding-bottom: 40px;
        }
        

    li {
     
        padding: 100px 150px;
        margin: 10px 20px;
        color: #f1f1f1;
        font-size: 1.3em;
        border-radius: 15px;
        transition: all 300ms;

        &:nth-child(1){
            background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.3) ), 
        url(/imagenes/horizontal4.jpg);
            background-position: center;
            background-size: cover;
        }

        &:nth-child(3){
            background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.3) ), 
        url(/imagenes/horizontal9.jpg);
        background-position: center;
            background-size: cover;
        }

        &:nth-child(5){
            background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.3) ), 
        url(/imagenes/horizontal6.jpg);
        background-position: center;
            background-size: cover;
        }

        &:hover{
            transform: scale(1.15);
        }
}
}





.final {
    height: 40px;
    background-color: $lumoColor;
    color: #f1f1f1;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    p{
      font-size: 0.9em;  
    }

}
.logoChico {
    height: 50px;
    width: auto;
}

.imgChica {
    height: 280px;
    margin: 6px;
    box-shadow: $sombra;
}

.imagenNosotros {
    background-color: black;
    height: 560px;
    margin: 15px;
}

.hero2 {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.8) ),
        url(/imagenes/horizontalHero2.jpg);
        background-position: center;
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 160px;

        
        transition: all 300ms;

        .heroVideo {   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            iframe {
                height: 230px;
                width: 470px;
                margin: 20px;
            }
        }
        

        .textoVideo {
    
            color: white;
            text-align: center;
            width: 300px;
            font-size: 1.75em;
            padding-bottom: 50px;
              
        }
}







.contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    transition: all 300ms;
    background-image: linear-gradient(
         0deg,
         rgba(109, 109, 252,0.3),
         rgba(0,0,0,0.5) ), 
        url(/imagenes/horizontal5.jpg);
        background-position: center;
        background-repeat: none;
        background-size: cover;

        h1 {
            color: white;
            padding: 50px;
            margin-top: 150px;
            text-align: center;
            width: 300px;
        }

    form {
        padding: 60px;
        border-radius: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 120px;
        
        input, textarea {
            width: 270px;
            padding: 15px;
            margin: 30px;
            border: 1px solid #ccc;
            border-radius: 6px;
            display: flex;
            
        }
        
        button {
            padding: 15px 25px;
            background-color: $color-primario;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 6px;
            margin: 20px 30px;
            
            transition: all 300ms;
            
            &:hover {
                background-color: darken($color-primario, 10%);
            }
        }
    }
}
    
    
@media (min-width: 720px){
    .header {
        flex-direction: row;
        height: 100px;
        transition: all 300ms;
    }

    .galeria {
        grid-template-columns: repeat(4, 1fr);
        object-fit: none;

        .item:nth-child(2){
            grid-column-start: span 2;
        }

        .item:nth-child(4){
            grid-column-start: span 2;
            grid-row-start: span 2;

        }

        .item:nth-child(7){
            grid-row-start: span 2;
        }

        .item:nth-child(9){
            grid-row-start: span 2;
        }
    
        .item:nth-child(8){
            grid-row-start: span 2;
        }
    
        .item:nth-child(11){
            grid-column-start: span 2;
        }

    }

    .heroVideo {
        iframe {
            height: 230px;
        }
    }
}


@media (min-width: 1024px){

    .galeria {
        grid-template-columns: repeat(5, 1fr);
        object-fit: none;
        justify-content: center;
        padding: 100px;

        .item:nth-child(1){
            grid-row-start: span 2;
        }

        .item:nth-child(2){
            grid-column-start: span 2;
            grid-row-start: span 2;
        }

        .item:nth-child(3){
            grid-column-start: span 2;
            grid-row-start: span 2;
        }

        .item:nth-child(4){
            grid-column-start: span 2;
            grid-row-start: span 3;
        }

        .item:nth-child(6){
            grid-column-start: span 2;            
            grid-row-start: span 3;
        }
    
        .item:nth-child(8){
            grid-row-start: span 2;
        }
    
        .item:nth-child(11){
            grid-column-start: span 2;            
            grid-row-start: span 2;
        }


}

.contacto {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 150px 0px;

    h1{
        margin-top: 0px;
        margin-bottom: 95px;
        text-align: left;
        font-size: 3.6em;
        padding: 83px;
        width: 500px;
    }

    form {
        margin-bottom: 0px;

        input, textarea {
            width: 450px;
        }
    }
}


.hero2 {

    .heroVideo {
        flex-direction: row;
        iframe {
            height: 430px;
        }
    }
}
}